*{
	padding: 0px;
	margin: 0px;
}

.subtitulo1{
	width: 98vw;
	color: white;
	font-family: sans-serif;
	font-size: 3em;
	background-color: #004AAD;
	padding: 1vw;
}

.direccionCaja{
	display: flex;
}

.infoContacto{
	background-color: #3885BB;
	margin: 1vw 1vh;
	padding: 1vw;
	color: white;
	width: 30vw;
	font-family: serif;
	font-size: 140%;
	text-align: justify;
	font-family: Inter, sans-serif;
}

.mapa{
	margin: 1vw 1vh;
	height: 40vh;
	width: 70vw;
	background-color: gray;
}

.infoNegocio{
	display: flex;
}

.video{
	margin: 1vw 1vh;
	padding: 1vw;
	margin-left: 3vw;
	width: 50vw;
	height: 40vh;
	background-color: aquamarine;
}

.nuestroTrabajo{
	margin: 1vw 1vh;
	padding: 1vw;
	width: 45vw;
	display: flex;
	flex-flow: column;
	
}

.negTitulo{
	color: white;
	background-color: #004AAD;
	border-radius: 15px;
	font-size: 1.5em;
	text-align: center;
	width: fit-content;
	margin: auto;
	padding: 1vw;
}

.negText{
	margin: 1vw 1vh;
	padding: 1vw;
	text-align: justify;
	background-color: #cdcfd1;
	border-radius: 20px;
	font-family: Inter, sans-serif;
}

.piePagina{
	width: 100vw;
	background-color: #004AAD;
	color: white;
	display: flex;
	flex-flow: column;
	margin-top: 2vh ;
}

.sugerenciasCaja{
	width: 100vw;
	height: 20vh;
	display: flex;
	font-family: Inter, sans-serif;
}

.sugTitulo{
	width: 45vw;
	margin: 1vw 1vh;
	padding: 1vw;
	color: white;
	text-align: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5em;
}

h3{
	font-size: 2em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sugArea{
	width: 50vw;
	margin: 1vw 2vh;
	margin-right: 2vw;
	padding: 0vw;
	height: 20vh;
	background-color: white;
}

.legal{
	margin: 1vw;
}

ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    padding: 0;
  	margin: 0;
  	position: fixed;
  	background-color: #004aad;

  }
  li{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    padding: 10px;
    color: white;
    font-size: 130%;
    border-left: solid 2px black;
    border-right: solid 2px black;
  }
 li.imagen{
 	float: left;
 	margin-top: -1.8%;
  border: none;
 }
  a{
  	color: white;
  	text-decoration: none;

  }

  .portada{
    background-image: url(portadadent.jpg);
    background-size: 100%;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    display: flex;
  }

  .nombre{
    margin: auto;
    width: 50%;
    height: 45%;
    padding: auto;
    background-color: #23366b;
    color:white;
    text-align: center;
    font-size: 5em;
    border-radius: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .titulo1{
    font-size: 40px;
    background-color: #004aad;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
  }
  .contenido{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .texto{
    width: 50%;
    height: fit-content;
    font-size: 20px;
    background-color: #cccfd0;
    padding: 10px;
    margin: 30px;
    margin-top: 7%;
  }
  .img{
    margin-left: 40px;
    margin-top: 20px;
  }
  .titulo2{
    font-size: 40px;
    background-color: #004aad;
    width: 50%;
    height: 70px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
  }
  .tratamientos{
    width: 20px;
    width: 70px;
    padding-top: 20px;
    margin: 90px;
  }
  .tratamientos p{
    width: 150px;
    height: 50px;
    padding-top: 10px;
    background-color: #5ce1e6;
    text-align: center;
    font-size: 20px;
    margin-left: 7px;
    border-radius: 15px;
  }