*{
	padding: 0px;
	margin: 0px;
}

.subtitulo1{
	width: 98vw;
	color: white;
	font-family: sans-serif;
	font-size: 3em;
	background-color: #004AAD;
	padding: 1vw;
}

.direccionCaja{
	display: flex;
}

.infoContacto{
	background-color: #3885BB;
	margin: 1vw 1vh;
	padding: 1vw;
	color: white;
	width: 30vw;
	font-family: serif;
	font-size: 140%;
	text-align: justify;
	font-family: Inter, sans-serif;
}

.mapa{
	height: 40vh;
	width: 70vw;
	background-color: gray;
}

.infoNegocio{
	display: flex;
}

.video{
	margin: 1vw 1vh;
	padding: 1vw;
	margin-left: 3vw;
	width: 50vw;
	height: 60vh;
	background-color: aquamarine;
}

.nuestroTrabajo{
	margin: 1vw 1vh;
	padding: 1vw;
	width: 45vw;
	display: flex;
	flex-flow: column;
	
}

.negTitulo{
	color: white;
	background-color: #004AAD;
	border-radius: 15px;
	font-size: 1.5em;
	text-align: center;
	width: fit-content;
	margin: auto;
	padding: 1vw;
}

.negText{
	margin: 1vw 1vh;
	padding: 1vw;
	text-align: justify;
	background-color: #cdcfd1;
	border-radius: 20px;
	font-family: Inter, sans-serif;
}

.piePagina{
	width: 100vw;
	background-color: #004AAD;
	color: white;
	display: flex;
	flex-flow: column;
	margin-top: 2vh ;
}

.sugerenciasCaja{
	width: 100vw;
	height: 20vh;
	display: flex;
	font-family: Inter, sans-serif;
}

.sugTitulo{
	width: 45vw;
	margin: 1vw 1vh;
	padding: 1vw;
	color: white;
	text-align: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5em;
}

h3{
	font-size: 2em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sugArea{
	width: 50vw;
	margin: 1vw 2vh;
	margin-right: 2vw;
	padding: 0vw;
	height: 20vh;
	background-color: white;
}

.legal{
	margin: 1vw;
}

ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    padding: 0;
  	margin: 0;
  	position: fixed;
  	background-color: #004aad;
  	z-index: 4;

  }
  li{
    float: right;
    margin-right: 3vw;
    margin-top: .5vw;
    padding: 1vw;
    color: white;
    font-size: 130%;
    border-left: solid 2px black;
    border-right: solid 2px black;
  }
 li.imagen{
 	float: left;
 	margin-top: -1.8%;
  border: none;
 }
  a{
  	color: white;
  	text-decoration: none;

  }

  .portada{
    background-image: url(portadadent.jpg);
    background-size: 100%;
    width: 100%;
    height: 35vw;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    display: flex;
  }

  .nombre{
    margin: auto;
    width: 40%;
    height: 35%;
    padding-top: 3vw;
    background-color: #23366b;
    color:white;
    text-align: center;
    font-size: 7em;
    border-radius: 3vw;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .contenido{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .texto{
    width: 50%;
    height: fit-content;
    font-size: 1.5em;
    background-color: #cccfd0;
    padding: 1vw;
    margin: 2vw;
    margin-top: 7%;
  }
  
  .titulo2{
    font-size: 4vw;
    background-color: #004aad;
    width: 50%;
    height: 20%;
    padding-top: .5vw;
    font-weight: bold;
    color: white;
    border-radius: 2vw;
    margin: auto;
    margin-top: 2vw;
    text-align: center;
  }
  .tratamientos{
    width: 6vw;
    height: 4vw;
    padding-top: 1vw;
    margin: 6vw;
    margin-bottom: 15vw;
  }
  .tratamientos p{
    width: 10vw;
    height: 5vw;
    padding-top: 1vw;
    background-color: #5ce1e6;
    text-align: center;
    font-size: 1.5em;
    margin-left: 1vw;
    border-radius: 1.3vw;
  }
/*carrusel*/
  .carousel {
  width: 40vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
	padding-top: 1vw;
  width: 40vw;
  height: 30vw;
  object-fit: cover;
  z-index: -4;
}

/* Ocultar los radios */
input[type="radio"] {
  display: none;
}

/* Movimiento de las slides según el radio seleccionado */
#slide1:checked ~ .slides {
  transform: translateX(0%);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
#slide4:checked ~ .slides {
  transform: translateX(-300%);
}
#slide5:checked ~ .slides {
  transform: translateX(-400%);
}


/* Navegación estilo círculos */
.navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 1;
}

.navigation label {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"],
input#slide4:checked ~ .navigation label[for="slide4"],
input#slide5:checked ~ .navigation label[for="slide5"] {
  background: #333;
}
/*carrusel*/